<%- include("partials/header"); -%>
  <script>
    function validateForm() {
      var x = document.forms["myForm"]["point"].value;
      if (x == "" || x == null) {
        alert("Checkpoint must be filled out");
        return false;
      }
    }
  </script>
  <div class="container">
  <form action="/addpoint" method="post" name="myForm" autocomplete="off" onsubmit="return validateForm()" style="width: 50%" >
    <fieldset>

   <legend><strong>Checkpoint</strong></legend>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Name" name="point">
      </div>

      </div>
      <button type="submit" class="btn btn-primary" name="button">Submit</button>
    </fieldset>
    </form>
</div>
  <!-- <form action="/addpoint" name="myForm"  onsubmit="return validateForm()" autocomplete="off" method="post" required>
    <label for="Checkpoint">Checkpoint: </label>
    <input type="text" name="point">
    <button type="submit" name="button">Submit</button>
  </form> -->
</body>

</html>
