<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% array.forEach(function(element){%>
    <%  if(element.time!=null){ %>
        <h3><%=element%></h3>
    <%}})%>
  </body>
</html>
