<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> <%=message%> </h1>
    <form  action="/settime" method="post">
        <input type="submit" name="value" value="Start">
        <input type="submit" name="value" value="Restart">
    </form>
  </body>
</html>
