<%- include("partials/header"); -%>
    <h1> <%=message%> </h1>
    <div class="container">
    <form  action="/settime" method="post">
        <button type="submit" class="btn btn-primary" name="value" value="Start">Start</button>
        <button type="submit" class="btn btn-primary" name="value" value="Restart">Reset</button>
    </form>
    </div>
  </body>
</html>
